
<script type="text/javascript" src="js/dotAndLines.js"></script>
<script type="text/javascript" src="js/fade-in-words.js"></script>
<div class="home-container">
	<div>
		<h1 class="title">Kim Van Le</h1>
	</div>
</div>
<section class="home-text iama">
	I am 
	<div id="rotate">
		<div>a coder.</div> <div>a cyclist.</div> <div>a traveler.</div> </div> 
	</div>
	
</section>
<section >
	<div class="home-description">A Front-end developer</div>
</section>
<div class="canvas-container"><canvas></canvas></div>



